github-backup-workflow.json
{
  "updatedAt": "2026-05-05T13:59:04.693Z",
  "createdAt": "2026-04-30T19:31:09.695Z",
  "id": "D8VPIkfYeVIwDQB5",
  "name": "GitHub Backup Workflow",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const workflow = $input.item.json;\nconst jsonString = JSON.stringify(workflow, null, 2);\nconst base64 = Buffer.from(jsonString).toString('base64');\n\nreturn {\n  ...workflow,\n  data: base64\n};"
      },
      "id": "e7039095-5925-4a85-b8e2-afdaf894e4e8",
      "name": "Convert to base64",
      "type": "n8n-nodes-base.code",
      "position": [
        -848,
        720
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "list",
        "owner": {
          "__rl": true,
          "value": "oswaldorodriguez123",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-workflows-backup",
          "mode": "list",
          "cachedResultName": "n8n-workflows-backup",
          "cachedResultUrl": "https://github.com/OswaldoRodriguez123/n8n-workflows-backup"
        },
        "filePath": "="
      },
      "id": "61b99f4d-5c91-4a36-bd08-01d5fefa6ac6",
      "name": "List files from repo",
      "type": "n8n-nodes-base.github",
      "position": [
        -1520,
        720
      ],
      "webhookId": "354d699e-44b0-4444-9d31-af7fd4ff5561",
      "typeVersion": 1,
      "alwaysOutputData": true,
      "credentials": {
        "githubApi": {
          "id": "XROMFPzqFUz4J0e9",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "name"
            }
          ]
        },
        "options": {}
      },
      "id": "9a78f976-e7b7-46a4-b3a6-bff087b0583f",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        -1296,
        720
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "filters": {
          "activeWorkflows": true
        },
        "requestOptions": {}
      },
      "id": "d1c09fc3-480e-4b7a-a15f-8c81fc26b3d0",
      "name": "Retrieve workflows",
      "type": "n8n-nodes-base.n8n",
      "position": [
        -1072,
        720
      ],
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "aC9X6ZkK0JdCzFeK",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('Aggregate').item.json.name.includes($node['Commit info'].json.fileName).toString() }}",
              "value2": "true"
            }
          ]
        }
      },
      "id": "b388c8cf-ea86-4a46-8ad8-1c562321437e",
      "name": "Check if file exists",
      "type": "n8n-nodes-base.if",
      "position": [
        -400,
        816
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "oswaldorodriguez123",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-workflows-backup",
          "mode": "list",
          "cachedResultName": "n8n-workflows-backup",
          "cachedResultUrl": "https://github.com/OswaldoRodriguez123/n8n-workflows-backup"
        },
        "filePath": "={{ $node['Commit info'].json.fileName }}",
        "fileContent": "={{ $('Convert to base64').item.json.data }}",
        "commitMessage": "={{ $('Commit info').item.json.commitMessage }}"
      },
      "id": "105ad76f-1fe5-4d09-b313-98b868bc852e",
      "name": "Upload file",
      "type": "n8n-nodes-base.github",
      "position": [
        -176,
        912
      ],
      "webhookId": "ce4b561b-acb9-4cd8-b76f-4928dada9674",
      "typeVersion": 1,
      "credentials": {
        "githubApi": {
          "id": "XROMFPzqFUz4J0e9",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "oswaldorodriguez123",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-workflows-backup",
          "mode": "list",
          "cachedResultName": "n8n-workflows-backup",
          "cachedResultUrl": "https://github.com/OswaldoRodriguez123/n8n-workflows-backup"
        },
        "filePath": "={{ $node['Commit info'].json.fileName }}",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "id": "81dcd730-f696-4fb6-bef7-2b7c75c58f11",
      "name": "Get current file",
      "type": "n8n-nodes-base.github",
      "position": [
        -176,
        720
      ],
      "typeVersion": 1,
      "webhookId": "a824606d-bf7f-41f8-85cf-48af8081a988",
      "credentials": {
        "githubApi": {
          "id": "XROMFPzqFUz4J0e9",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.storedVersionId }}",
              "operation": "notEqual",
              "value2": "={{ $json.currentVersionId }}"
            }
          ]
        }
      },
      "id": "4e02931f-83d6-4d05-bb82-8fb958e9f5b8",
      "name": "Has changed?",
      "type": "n8n-nodes-base.if",
      "position": [
        272,
        720
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "oswaldorodriguez123",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-workflows-backup",
          "mode": "list",
          "cachedResultName": "n8n-workflows-backup",
          "cachedResultUrl": "https://github.com/OswaldoRodriguez123/n8n-workflows-backup"
        },
        "filePath": "={{ $('Commit info').item.json.fileName }}",
        "fileContent": "={{ $('Convert to base64').item.json.data }}",
        "commitMessage": "={{ $('Commit info').item.json.commitMessage }}"
      },
      "id": "8662c3d0-53cb-41b0-8985-18cf6048c4a5",
      "name": "Update file",
      "type": "n8n-nodes-base.github",
      "position": [
        496,
        720
      ],
      "webhookId": "27218087-8df7-474d-a39f-70cfa9c34ec8",
      "typeVersion": 1,
      "credentials": {
        "githubApi": {
          "id": "XROMFPzqFUz4J0e9",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1744,
        720
      ],
      "id": "df6caa0a-b058-4400-84b5-c85cfeb2588c",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b0fe1bcc-e79c-4a6b-b8b4-44222c8bf4e8",
              "name": "fileName",
              "type": "string",
              "value": "={{ $('Retrieve workflows').item.json.name.replace(/[^\\x00-\\x7F]/g, '').trim().replace(/\\s+/g, '-').toLowerCase() }}.json"
            },
            {
              "id": "9157636d-d77a-4af7-84ce-420d673b73b9",
              "name": "commitMessage",
              "value": "={{ $('Retrieve workflows').item.json.activeVersion?.name ?? 'no-version' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "cd4071bf-84d9-4a60-988f-2301bf6d490e",
      "name": "Commit info",
      "type": "n8n-nodes-base.set",
      "position": [
        -624,
        720
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const githubContent = Buffer.from(\n  $json.content.replace(/\\n/g, ''),\n  'base64'\n).toString('utf-8').trim();\n\nconst stored = JSON.parse(githubContent);\n\nreturn {\n  storedVersionId: stored.versionId,\n  currentVersionId: $('Retrieve workflows').item.json.versionId,\n  ...$json\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        48,
        720
      ],
      "id": "77d9a423-7a97-403d-8719-ecfb7c9a3536",
      "name": "Retrieve VersionIds"
    },
    {
      "parameters": {
        "jsCode": "const allItems = $('Commit info').all();\nconst currentFileNames = allItems.map(item => item.json.fileName);\n\nconst repoFiles = $('Aggregate').first().json.name || [];\n\nconst filesToDelete = repoFiles.filter(name => \n  name.endsWith('.json') && \n  name !== 'README.md' && \n  !currentFileNames.includes(name)\n);\n\nreturn filesToDelete.map(name => ({ json: { fileName: name } }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -400,
        528
      ],
      "id": "9b69db3f-1e23-4711-90e7-d0a5f0da1379",
      "name": "Find deleted workflows"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "delete",
        "owner": {
          "__rl": true,
          "value": "oswaldorodriguez123",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-workflows-backup",
          "mode": "list",
          "cachedResultName": "n8n-workflows-backup",
          "cachedResultUrl": "https://github.com/OswaldoRodriguez123/n8n-workflows-backup"
        },
        "filePath": "={{ $json.fileName }}",
        "commitMessage": "=deleted-{{ $json.fileName }}"
      },
      "id": "3f7e2044-6e03-48c2-b12a-541f93397086",
      "name": "Delete file from repo",
      "type": "n8n-nodes-base.github",
      "position": [
        -176,
        528
      ],
      "typeVersion": 1,
      "webhookId": "c54186c3-9414-4bdd-8dc4-522132616514",
      "credentials": {
        "githubApi": {
          "id": "XROMFPzqFUz4J0e9",
          "name": "GitHub account"
        }
      }
    }
  ],
  "connections": {
    "Convert to base64": {
      "main": [
        [
          {
            "node": "Commit info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List files from repo": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Retrieve workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve workflows": {
      "main": [
        [
          {
            "node": "Convert to base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if file exists": {
      "main": [
        [
          {
            "node": "Get current file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get current file": {
      "main": [
        [
          {
            "node": "Retrieve VersionIds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has changed?": {
      "main": [
        [
          {
            "node": "Update file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "List files from repo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Commit info": {
      "main": [
        [
          {
            "node": "Check if file exists",
            "type": "main",
            "index": 0
          },
          {
            "node": "Find deleted workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve VersionIds": {
      "main": [
        [
          {
            "node": "Has changed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find deleted workflows": {
      "main": [
        [
          {
            "node": "Delete file from repo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": [
        122
      ]
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "f7906d7b-e552-420f-91a7-209f9b6b75d9",
  "activeVersionId": "656d9332-e84c-4789-8c58-4a412c6803c1",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-04-30T19:31:09.698Z",
      "createdAt": "2026-04-30T19:31:09.698Z",
      "role": "workflow:owner",
      "workflowId": "D8VPIkfYeVIwDQB5",
      "projectId": "OIndEVhNfITieKkR"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-05-05T13:58:27.000Z",
    "createdAt": "2026-05-05T13:58:25.077Z",
    "versionId": "656d9332-e84c-4789-8c58-4a412c6803c1",
    "workflowId": "D8VPIkfYeVIwDQB5",
    "nodes": [
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "const workflow = $input.item.json;\nconst jsonString = JSON.stringify(workflow, null, 2);\nconst base64 = Buffer.from(jsonString).toString('base64');\n\nreturn {\n  ...workflow,\n  data: base64\n};"
        },
        "id": "e7039095-5925-4a85-b8e2-afdaf894e4e8",
        "name": "Convert to base64",
        "type": "n8n-nodes-base.code",
        "position": [
          -848,
          768
        ],
        "typeVersion": 2
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "list",
          "owner": {
            "__rl": true,
            "value": "oswaldorodriguez123",
            "mode": "name"
          },
          "repository": {
            "__rl": true,
            "value": "n8n-workflows-backup",
            "mode": "list",
            "cachedResultName": "n8n-workflows-backup",
            "cachedResultUrl": "https://github.com/OswaldoRodriguez123/n8n-workflows-backup"
          },
          "filePath": "="
        },
        "id": "61b99f4d-5c91-4a36-bd08-01d5fefa6ac6",
        "name": "List files from repo",
        "type": "n8n-nodes-base.github",
        "position": [
          -1520,
          768
        ],
        "webhookId": "354d699e-44b0-4444-9d31-af7fd4ff5561",
        "typeVersion": 1,
        "alwaysOutputData": true,
        "credentials": {
          "githubApi": {
            "id": "XROMFPzqFUz4J0e9",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "fieldsToAggregate": {
            "fieldToAggregate": [
              {
                "fieldToAggregate": "name"
              }
            ]
          },
          "options": {}
        },
        "id": "9a78f976-e7b7-46a4-b3a6-bff087b0583f",
        "name": "Aggregate",
        "type": "n8n-nodes-base.aggregate",
        "position": [
          -1296,
          768
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "filters": {
            "activeWorkflows": true
          },
          "requestOptions": {}
        },
        "id": "d1c09fc3-480e-4b7a-a15f-8c81fc26b3d0",
        "name": "Retrieve workflows",
        "type": "n8n-nodes-base.n8n",
        "position": [
          -1072,
          768
        ],
        "typeVersion": 1,
        "credentials": {
          "n8nApi": {
            "id": "aC9X6ZkK0JdCzFeK",
            "name": "n8n account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "string": [
              {
                "value1": "={{ $('Aggregate').item.json.name.includes($node['Commit info'].json.fileName).toString() }}",
                "value2": "true"
              }
            ]
          }
        },
        "id": "b388c8cf-ea86-4a46-8ad8-1c562321437e",
        "name": "Check if file exists",
        "type": "n8n-nodes-base.if",
        "position": [
          -400,
          768
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "resource": "file",
          "owner": {
            "__rl": true,
            "value": "oswaldorodriguez123",
            "mode": "name"
          },
          "repository": {
            "__rl": true,
            "value": "n8n-workflows-backup",
            "mode": "list",
            "cachedResultName": "n8n-workflows-backup",
            "cachedResultUrl": "https://github.com/OswaldoRodriguez123/n8n-workflows-backup"
          },
          "filePath": "={{ $node['Commit info'].json.fileName }}",
          "fileContent": "={{ $('Convert to base64').item.json.data }}",
          "commitMessage": "={{ $('Commit info').item.json.commitMessage }}"
        },
        "id": "105ad76f-1fe5-4d09-b313-98b868bc852e",
        "name": "Upload file",
        "type": "n8n-nodes-base.github",
        "position": [
          -176,
          864
        ],
        "webhookId": "ce4b561b-acb9-4cd8-b76f-4928dada9674",
        "typeVersion": 1,
        "credentials": {
          "githubApi": {
            "id": "XROMFPzqFUz4J0e9",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "get",
          "owner": {
            "__rl": true,
            "value": "oswaldorodriguez123",
            "mode": "name"
          },
          "repository": {
            "__rl": true,
            "value": "n8n-workflows-backup",
            "mode": "list",
            "cachedResultName": "n8n-workflows-backup",
            "cachedResultUrl": "https://github.com/OswaldoRodriguez123/n8n-workflows-backup"
          },
          "filePath": "={{ $node['Commit info'].json.fileName }}",
          "asBinaryProperty": false,
          "additionalParameters": {}
        },
        "id": "81dcd730-f696-4fb6-bef7-2b7c75c58f11",
        "name": "Get current file",
        "type": "n8n-nodes-base.github",
        "position": [
          -176,
          672
        ],
        "typeVersion": 1,
        "webhookId": "a824606d-bf7f-41f8-85cf-48af8081a988",
        "credentials": {
          "githubApi": {
            "id": "XROMFPzqFUz4J0e9",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "string": [
              {
                "value1": "={{ $json.storedVersionId }}",
                "operation": "notEqual",
                "value2": "={{ $json.currentVersionId }}"
              }
            ]
          }
        },
        "id": "4e02931f-83d6-4d05-bb82-8fb958e9f5b8",
        "name": "Has changed?",
        "type": "n8n-nodes-base.if",
        "position": [
          272,
          672
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "edit",
          "owner": {
            "__rl": true,
            "value": "oswaldorodriguez123",
            "mode": "name"
          },
          "repository": {
            "__rl": true,
            "value": "n8n-workflows-backup",
            "mode": "list",
            "cachedResultName": "n8n-workflows-backup",
            "cachedResultUrl": "https://github.com/OswaldoRodriguez123/n8n-workflows-backup"
          },
          "filePath": "={{ $('Commit info').item.json.fileName }}",
          "fileContent": "={{ $('Convert to base64').item.json.data }}",
          "commitMessage": "={{ $('Commit info').item.json.commitMessage }}"
        },
        "id": "8662c3d0-53cb-41b0-8985-18cf6048c4a5",
        "name": "Update file",
        "type": "n8n-nodes-base.github",
        "position": [
          480,
          560
        ],
        "webhookId": "27218087-8df7-474d-a39f-70cfa9c34ec8",
        "typeVersion": 1,
        "credentials": {
          "githubApi": {
            "id": "XROMFPzqFUz4J0e9",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "hours",
                "hoursInterval": 6
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          -1744,
          768
        ],
        "id": "df6caa0a-b058-4400-84b5-c85cfeb2588c",
        "name": "Schedule Trigger"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "b0fe1bcc-e79c-4a6b-b8b4-44222c8bf4e8",
                "name": "fileName",
                "type": "string",
                "value": "={{ $('Retrieve workflows').item.json.name.replace(/[^\\x00-\\x7F]/g, '').trim().replace(/\\s+/g, '-').toLowerCase() }}.json"
              },
              {
                "id": "9157636d-d77a-4af7-84ce-420d673b73b9",
                "name": "commitMessage",
                "value": "={{ $('Retrieve workflows').item.json.activeVersion?.name ?? 'no-version' }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "cd4071bf-84d9-4a60-988f-2301bf6d490e",
        "name": "Commit info",
        "type": "n8n-nodes-base.set",
        "position": [
          -624,
          768
        ],
        "typeVersion": 3.4
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "const githubContent = Buffer.from(\n  $json.content.replace(/\\n/g, ''),\n  'base64'\n).toString('utf-8').trim();\n\nconst stored = JSON.parse(githubContent);\n\nreturn {\n  storedVersionId: stored.versionId,\n  currentVersionId: $('Retrieve workflows').item.json.versionId,\n  ...$json\n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          48,
          672
        ],
        "id": "77d9a423-7a97-403d-8719-ecfb7c9a3536",
        "name": "Retrieve VersionIds"
      },
      {
        "parameters": {
          "jsCode": "const allItems = $('Commit info').all();\nconst currentFileNames = allItems.map(item => item.json.fileName);\n\nconst repoFiles = $('Aggregate').first().json.name || [];\n\nconst filesToDelete = repoFiles.filter(name => \n  name.endsWith('.json') && \n  name !== 'README.md' && \n  !currentFileNames.includes(name)\n);\n\nreturn filesToDelete.map(name => ({ json: { fileName: name } }));"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -400,
          528
        ],
        "id": "9b69db3f-1e23-4711-90e7-d0a5f0da1379",
        "name": "Find deleted workflows"
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "delete",
          "owner": {
            "__rl": true,
            "value": "oswaldorodriguez123",
            "mode": "name"
          },
          "repository": {
            "__rl": true,
            "value": "n8n-workflows-backup",
            "mode": "list",
            "cachedResultName": "n8n-workflows-backup",
            "cachedResultUrl": "https://github.com/OswaldoRodriguez123/n8n-workflows-backup"
          },
          "filePath": "={{ $json.fileName }}",
          "commitMessage": "=deleted-{{ $json.fileName }}"
        },
        "id": "3f7e2044-6e03-48c2-b12a-541f93397086",
        "name": "Delete file from repo",
        "type": "n8n-nodes-base.github",
        "position": [
          -176,
          528
        ],
        "typeVersion": 1,
        "webhookId": "c54186c3-9414-4bdd-8dc4-522132616514",
        "credentials": {
          "githubApi": {
            "id": "XROMFPzqFUz4J0e9",
            "name": "GitHub account"
          }
        }
      }
    ],
    "connections": {
      "Convert to base64": {
        "main": [
          [
            {
              "node": "Commit info",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "List files from repo": {
        "main": [
          [
            {
              "node": "Aggregate",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Aggregate": {
        "main": [
          [
            {
              "node": "Retrieve workflows",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Retrieve workflows": {
        "main": [
          [
            {
              "node": "Convert to base64",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check if file exists": {
        "main": [
          [
            {
              "node": "Get current file",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Upload file",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get current file": {
        "main": [
          [
            {
              "node": "Retrieve VersionIds",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Has changed?": {
        "main": [
          [
            {
              "node": "Update file",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "List files from repo",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Commit info": {
        "main": [
          [
            {
              "node": "Check if file exists",
              "type": "main",
              "index": 0
            },
            {
              "node": "Find deleted workflows",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Retrieve VersionIds": {
        "main": [
          [
            {
              "node": "Has changed?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Find deleted workflows": {
        "main": [
          [
            {
              "node": "Delete file from repo",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Oswaldo Rodriguez",
    "name": "Version 656d9332",
    "description": "",
    "autosaved": true
  },
  "tags": []
}