github-backup-workflow.json
{
  "updatedAt": "2026-05-05T14:26:32.998Z",
  "createdAt": "2026-04-30T19:31:09.695Z",
  "id": "D8VPIkfYeVIwDQB5",
  "name": "GitHub Backup Workflow",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const workflow = $input.item.json;\nconst jsonString = JSON.stringify(workflow, null, 2);\nconst base64 = Buffer.from(jsonString).toString('base64');\n\nreturn {\n  ...workflow,\n  data: base64\n};"
      },
      "id": "211b47dc-b0b0-45a0-8578-cc9b6a02d292",
      "name": "Convert to base64",
      "type": "n8n-nodes-base.code",
      "position": [
        -3952,
        784
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "list",
        "owner": {
          "__rl": true,
          "value": "oswaldorodriguez123",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-workflows-backup",
          "mode": "list",
          "cachedResultName": "n8n-workflows-backup",
          "cachedResultUrl": "https://github.com/OswaldoRodriguez123/n8n-workflows-backup"
        },
        "filePath": "="
      },
      "id": "df0d2e56-0cec-476c-9385-389fbad80d8b",
      "name": "List files from repo",
      "type": "n8n-nodes-base.github",
      "position": [
        -4624,
        688
      ],
      "webhookId": "354d699e-44b0-4444-9d31-af7fd4ff5561",
      "typeVersion": 1,
      "alwaysOutputData": true,
      "credentials": {
        "githubApi": {
          "id": "XROMFPzqFUz4J0e9",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "name"
            }
          ]
        },
        "options": {}
      },
      "id": "29b54e6d-171e-401a-ab6a-0dd5eba383de",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        -4400,
        688
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('Aggregate').item.json.name.includes($node['Commit info'].json.fileName).toString() }}",
              "value2": "true"
            }
          ]
        }
      },
      "id": "c9ebf12f-abad-4b55-b600-ad6c96bf09e5",
      "name": "Check if file exists",
      "type": "n8n-nodes-base.if",
      "position": [
        -3504,
        784
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "oswaldorodriguez123",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-workflows-backup",
          "mode": "list",
          "cachedResultName": "n8n-workflows-backup",
          "cachedResultUrl": "https://github.com/OswaldoRodriguez123/n8n-workflows-backup"
        },
        "filePath": "={{ $json.fileName }}",
        "fileContent": "={{ $('Convert to base64').item.json.data }}",
        "commitMessage": "={{ $('Commit info').item.json.commitMessage }}"
      },
      "id": "fdf7bd77-668f-49ea-9a6c-5620b40aacbb",
      "name": "Upload file",
      "type": "n8n-nodes-base.github",
      "position": [
        -3280,
        880
      ],
      "webhookId": "ce4b561b-acb9-4cd8-b76f-4928dada9674",
      "typeVersion": 1,
      "credentials": {
        "githubApi": {
          "id": "XROMFPzqFUz4J0e9",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "oswaldorodriguez123",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-workflows-backup",
          "mode": "list",
          "cachedResultName": "n8n-workflows-backup",
          "cachedResultUrl": "https://github.com/OswaldoRodriguez123/n8n-workflows-backup"
        },
        "filePath": "={{ $json.fileName }}",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "id": "7e7a262a-54f6-4e5e-8408-7f8cb4747131",
      "name": "Get current file",
      "type": "n8n-nodes-base.github",
      "position": [
        -3280,
        688
      ],
      "typeVersion": 1,
      "webhookId": "a824606d-bf7f-41f8-85cf-48af8081a988",
      "credentials": {
        "githubApi": {
          "id": "XROMFPzqFUz4J0e9",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.storedVersionId }}",
              "operation": "notEqual",
              "value2": "={{ $json.currentVersionId }}"
            }
          ]
        }
      },
      "id": "528e1486-fe4e-4155-bec8-3a6389774ac0",
      "name": "Has changed?",
      "type": "n8n-nodes-base.if",
      "position": [
        -2832,
        688
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "oswaldorodriguez123",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-workflows-backup",
          "mode": "list",
          "cachedResultName": "n8n-workflows-backup",
          "cachedResultUrl": "https://github.com/OswaldoRodriguez123/n8n-workflows-backup"
        },
        "filePath": "={{ $('Commit info').item.json.fileName }}",
        "fileContent": "={{ $('Convert to base64').item.json.data }}",
        "commitMessage": "={{ $('Commit info').item.json.commitMessage }}"
      },
      "id": "edf182f0-b10a-43f1-83fa-e2f5c2192b18",
      "name": "Update file",
      "type": "n8n-nodes-base.github",
      "position": [
        -2608,
        688
      ],
      "webhookId": "27218087-8df7-474d-a39f-70cfa9c34ec8",
      "typeVersion": 1,
      "credentials": {
        "githubApi": {
          "id": "XROMFPzqFUz4J0e9",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -4848,
        688
      ],
      "id": "39c33c94-6d04-4d02-88f7-f8146d249e37",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b0fe1bcc-e79c-4a6b-b8b4-44222c8bf4e8",
              "name": "fileName",
              "type": "string",
              "value": "={{ $('Retrieve active workflows').item.json.name.replace(/[^\\x00-\\x7F]/g, '').trim().replace(/\\s+/g, '-').toLowerCase() }}.json"
            },
            {
              "id": "9157636d-d77a-4af7-84ce-420d673b73b9",
              "name": "commitMessage",
              "value": "={{ $('Retrieve active workflows').item.json.activeVersion?.name ?? 'no-version' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "cf55067c-bcd7-40e0-9c8a-1cf5a2192dd0",
      "name": "Commit info",
      "type": "n8n-nodes-base.set",
      "position": [
        -3728,
        784
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const githubContent = Buffer.from(\n  $json.content.replace(/\\n/g, ''),\n  'base64'\n).toString('utf-8').trim();\n\nconst stored = JSON.parse(githubContent);\n\nreturn {\n  storedVersionId: stored.versionId,\n  currentVersionId: $('Retrieve active workflows').item.json.versionId,\n  ...$json\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3056,
        688
      ],
      "id": "023bbc3f-cb24-403a-82df-123673df4c29",
      "name": "Retrieve VersionIds"
    },
    {
      "parameters": {
        "jsCode": "const allWorkflows = $('Retrieve all workflows').all();\nconst allFileNames = allWorkflows\n  .filter(item => !item.json.isArchived)\n  .map(item => \n    item.json.name.replace(/[^\\x00-\\x7F]/g, '').trim().replace(/\\s+/g, '-').toLowerCase() + '.json'\n  );\n\nconst repoFiles = $('Aggregate').first().json.name || [];\n\nconst filesToDelete = repoFiles.filter(name => \n  name.endsWith('.json') && \n  !allFileNames.includes(name)\n);\n\nreturn filesToDelete.map(name => ({ json: { fileName: name } }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3952,
        592
      ],
      "id": "796e7225-5eeb-462b-a9d6-e23dddf2a8ca",
      "name": "Find deleted workflows"
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "id": "fc121f3d-9fd2-49fa-b226-6b5b7d0ae0bf",
      "name": "Retrieve all workflows",
      "type": "n8n-nodes-base.n8n",
      "position": [
        -4176,
        592
      ],
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "aC9X6ZkK0JdCzFeK",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "delete",
        "owner": {
          "__rl": true,
          "value": "oswaldorodriguez123",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-workflows-backup",
          "mode": "list",
          "cachedResultName": "n8n-workflows-backup",
          "cachedResultUrl": "https://github.com/OswaldoRodriguez123/n8n-workflows-backup"
        },
        "filePath": "={{ $json.fileName }}",
        "commitMessage": "=deleted-{{ $json.fileName }}"
      },
      "id": "93cd9901-92b7-454f-8d47-7bd722605c75",
      "name": "Delete file from repo",
      "type": "n8n-nodes-base.github",
      "position": [
        -3728,
        592
      ],
      "typeVersion": 1,
      "webhookId": "1d666801-b5e1-4b8a-859b-0e6ab8747a07",
      "credentials": {
        "githubApi": {
          "id": "XROMFPzqFUz4J0e9",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "filters": {
          "activeWorkflows": true
        },
        "requestOptions": {}
      },
      "id": "12f7443a-ac8e-4158-b3a0-291f80780f0d",
      "name": "Retrieve active workflows",
      "type": "n8n-nodes-base.n8n",
      "position": [
        -4176,
        784
      ],
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "aC9X6ZkK0JdCzFeK",
          "name": "n8n account"
        }
      }
    }
  ],
  "connections": {
    "Convert to base64": {
      "main": [
        [
          {
            "node": "Commit info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List files from repo": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Retrieve active workflows",
            "type": "main",
            "index": 0
          },
          {
            "node": "Retrieve all workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if file exists": {
      "main": [
        [
          {
            "node": "Get current file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get current file": {
      "main": [
        [
          {
            "node": "Retrieve VersionIds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has changed?": {
      "main": [
        [
          {
            "node": "Update file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "List files from repo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Commit info": {
      "main": [
        [
          {
            "node": "Check if file exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve all workflows": {
      "main": [
        [
          {
            "node": "Find deleted workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve VersionIds": {
      "main": [
        [
          {
            "node": "Has changed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find deleted workflows": {
      "main": [
        [
          {
            "node": "Delete file from repo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve active workflows": {
      "main": [
        [
          {
            "node": "Convert to base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": [
        122
      ]
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "0b40e638-94f3-4a5a-b2ea-894c5bb27606",
  "activeVersionId": "4fbd9b0e-671d-4c1d-a00e-0a782fcf738d",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-04-30T19:31:09.698Z",
      "createdAt": "2026-04-30T19:31:09.698Z",
      "role": "workflow:owner",
      "workflowId": "D8VPIkfYeVIwDQB5",
      "projectId": "OIndEVhNfITieKkR"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-05-05T14:09:50.000Z",
    "createdAt": "2026-05-05T14:09:43.475Z",
    "versionId": "4fbd9b0e-671d-4c1d-a00e-0a782fcf738d",
    "workflowId": "D8VPIkfYeVIwDQB5",
    "nodes": [
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "const workflow = $input.item.json;\nconst jsonString = JSON.stringify(workflow, null, 2);\nconst base64 = Buffer.from(jsonString).toString('base64');\n\nreturn {\n  ...workflow,\n  data: base64\n};"
        },
        "id": "b6a2c170-57ac-4adc-80b6-f66f0c0760df",
        "name": "Convert to base64",
        "type": "n8n-nodes-base.code",
        "position": [
          -2288,
          752
        ],
        "typeVersion": 2
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "list",
          "owner": {
            "__rl": true,
            "value": "oswaldorodriguez123",
            "mode": "name"
          },
          "repository": {
            "__rl": true,
            "value": "n8n-workflows-backup",
            "mode": "list",
            "cachedResultName": "n8n-workflows-backup",
            "cachedResultUrl": "https://github.com/OswaldoRodriguez123/n8n-workflows-backup"
          },
          "filePath": "="
        },
        "id": "9b705f2b-fa63-4aae-84f1-b3582d5d40a1",
        "name": "List files from repo",
        "type": "n8n-nodes-base.github",
        "position": [
          -2960,
          752
        ],
        "webhookId": "354d699e-44b0-4444-9d31-af7fd4ff5561",
        "typeVersion": 1,
        "alwaysOutputData": true,
        "credentials": {
          "githubApi": {
            "id": "XROMFPzqFUz4J0e9",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "fieldsToAggregate": {
            "fieldToAggregate": [
              {
                "fieldToAggregate": "name"
              }
            ]
          },
          "options": {}
        },
        "id": "39562d6f-743d-40be-a319-6724d054b960",
        "name": "Aggregate",
        "type": "n8n-nodes-base.aggregate",
        "position": [
          -2736,
          752
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "conditions": {
            "string": [
              {
                "value1": "={{ $('Aggregate').item.json.name.includes($node['Commit info'].json.fileName).toString() }}",
                "value2": "true"
              }
            ]
          }
        },
        "id": "6da2f13f-8763-47b3-8c2a-5b6d1b9c0b3d",
        "name": "Check if file exists",
        "type": "n8n-nodes-base.if",
        "position": [
          -1840,
          848
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "resource": "file",
          "owner": {
            "__rl": true,
            "value": "oswaldorodriguez123",
            "mode": "name"
          },
          "repository": {
            "__rl": true,
            "value": "n8n-workflows-backup",
            "mode": "list",
            "cachedResultName": "n8n-workflows-backup",
            "cachedResultUrl": "https://github.com/OswaldoRodriguez123/n8n-workflows-backup"
          },
          "filePath": "={{ $node['Commit info'].json.fileName }}",
          "fileContent": "={{ $('Convert to base64').item.json.data }}",
          "commitMessage": "={{ $('Commit info').item.json.commitMessage }}"
        },
        "id": "0415aac9-90e5-448d-8bf3-2fa04ba568ab",
        "name": "Upload file",
        "type": "n8n-nodes-base.github",
        "position": [
          -1616,
          944
        ],
        "webhookId": "ce4b561b-acb9-4cd8-b76f-4928dada9674",
        "typeVersion": 1,
        "credentials": {
          "githubApi": {
            "id": "XROMFPzqFUz4J0e9",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "get",
          "owner": {
            "__rl": true,
            "value": "oswaldorodriguez123",
            "mode": "name"
          },
          "repository": {
            "__rl": true,
            "value": "n8n-workflows-backup",
            "mode": "list",
            "cachedResultName": "n8n-workflows-backup",
            "cachedResultUrl": "https://github.com/OswaldoRodriguez123/n8n-workflows-backup"
          },
          "filePath": "={{ $node['Commit info'].json.fileName }}",
          "asBinaryProperty": false,
          "additionalParameters": {}
        },
        "id": "a17047fc-c08e-44d7-9514-f83afb57987e",
        "name": "Get current file",
        "type": "n8n-nodes-base.github",
        "position": [
          -1616,
          752
        ],
        "typeVersion": 1,
        "webhookId": "a824606d-bf7f-41f8-85cf-48af8081a988",
        "credentials": {
          "githubApi": {
            "id": "XROMFPzqFUz4J0e9",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "string": [
              {
                "value1": "={{ $json.storedVersionId }}",
                "operation": "notEqual",
                "value2": "={{ $json.currentVersionId }}"
              }
            ]
          }
        },
        "id": "71eb461f-7eb9-4c78-8881-d87bad7588b8",
        "name": "Has changed?",
        "type": "n8n-nodes-base.if",
        "position": [
          -1168,
          752
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "edit",
          "owner": {
            "__rl": true,
            "value": "oswaldorodriguez123",
            "mode": "name"
          },
          "repository": {
            "__rl": true,
            "value": "n8n-workflows-backup",
            "mode": "list",
            "cachedResultName": "n8n-workflows-backup",
            "cachedResultUrl": "https://github.com/OswaldoRodriguez123/n8n-workflows-backup"
          },
          "filePath": "={{ $('Commit info').item.json.fileName }}",
          "fileContent": "={{ $('Convert to base64').item.json.data }}",
          "commitMessage": "={{ $('Commit info').item.json.commitMessage }}"
        },
        "id": "91ba25af-3149-4fe3-a4f8-d9442be7e6f5",
        "name": "Update file",
        "type": "n8n-nodes-base.github",
        "position": [
          -944,
          752
        ],
        "webhookId": "27218087-8df7-474d-a39f-70cfa9c34ec8",
        "typeVersion": 1,
        "credentials": {
          "githubApi": {
            "id": "XROMFPzqFUz4J0e9",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "hours",
                "hoursInterval": 6
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          -3184,
          752
        ],
        "id": "ebbd962f-ea3f-4e1b-b914-61d8164d89c1",
        "name": "Schedule Trigger"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "b0fe1bcc-e79c-4a6b-b8b4-44222c8bf4e8",
                "name": "fileName",
                "type": "string",
                "value": "={{ $('Retrieve active workflows').item.json.name.replace(/[^\\x00-\\x7F]/g, '').trim().replace(/\\s+/g, '-').toLowerCase() }}.json"
              },
              {
                "id": "9157636d-d77a-4af7-84ce-420d673b73b9",
                "name": "commitMessage",
                "value": "={{ $('Retrieve active workflows').item.json.activeVersion?.name ?? 'no-version' }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "19366a20-6f0f-413b-aed6-9d8a8c2cb05f",
        "name": "Commit info",
        "type": "n8n-nodes-base.set",
        "position": [
          -2064,
          752
        ],
        "typeVersion": 3.4
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "const githubContent = Buffer.from(\n  $json.content.replace(/\\n/g, ''),\n  'base64'\n).toString('utf-8').trim();\n\nconst stored = JSON.parse(githubContent);\n\nreturn {\n  storedVersionId: stored.versionId,\n  currentVersionId: $('Retrieve active workflows').item.json.versionId,\n  ...$json\n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1392,
          752
        ],
        "id": "64e8709a-f8ae-4789-ad31-388a7a9e93b7",
        "name": "Retrieve VersionIds"
      },
      {
        "parameters": {
          "jsCode": "const allWorkflows = $('Retrieve all workflows').all();\nconst allFileNames = allWorkflows\n  .filter(item => !item.json.isArchived)\n  .map(item => \n    item.json.name.replace(/[^\\x00-\\x7F]/g, '').trim().replace(/\\s+/g, '-').toLowerCase() + '.json'\n  );\n\nconst repoFiles = $('Aggregate').first().json.name || [];\n\nconst filesToDelete = repoFiles.filter(name => \n  name.endsWith('.json') && \n  !allFileNames.includes(name)\n);\n\nreturn filesToDelete.map(name => ({ json: { fileName: name } }));"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1616,
          560
        ],
        "id": "e99c03ae-37b5-49cc-b1f3-e415b1b61378",
        "name": "Find deleted workflows"
      },
      {
        "parameters": {
          "filters": {},
          "requestOptions": {}
        },
        "id": "1e7677b9-514f-46d6-9d36-5f4b75229799",
        "name": "Retrieve all workflows",
        "type": "n8n-nodes-base.n8n",
        "position": [
          -1840,
          560
        ],
        "typeVersion": 1,
        "credentials": {
          "n8nApi": {
            "id": "aC9X6ZkK0JdCzFeK",
            "name": "n8n account"
          }
        }
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "delete",
          "owner": {
            "__rl": true,
            "value": "oswaldorodriguez123",
            "mode": "name"
          },
          "repository": {
            "__rl": true,
            "value": "n8n-workflows-backup",
            "mode": "list",
            "cachedResultName": "n8n-workflows-backup",
            "cachedResultUrl": "https://github.com/OswaldoRodriguez123/n8n-workflows-backup"
          },
          "filePath": "={{ $json.fileName }}",
          "commitMessage": "=deleted-{{ $json.fileName }}"
        },
        "id": "9830c607-bd67-446b-8174-5e00d2be4b92",
        "name": "Delete file from repo",
        "type": "n8n-nodes-base.github",
        "position": [
          -1392,
          560
        ],
        "typeVersion": 1,
        "webhookId": "1d666801-b5e1-4b8a-859b-0e6ab8747a07",
        "credentials": {
          "githubApi": {
            "id": "XROMFPzqFUz4J0e9",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "filters": {
            "activeWorkflows": true
          },
          "requestOptions": {}
        },
        "id": "0d4def96-78b6-4b0c-84b9-854276a334be",
        "name": "Retrieve active workflows",
        "type": "n8n-nodes-base.n8n",
        "position": [
          -2512,
          752
        ],
        "typeVersion": 1,
        "credentials": {
          "n8nApi": {
            "id": "aC9X6ZkK0JdCzFeK",
            "name": "n8n account"
          }
        }
      }
    ],
    "connections": {
      "Convert to base64": {
        "main": [
          [
            {
              "node": "Commit info",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "List files from repo": {
        "main": [
          [
            {
              "node": "Aggregate",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Aggregate": {
        "main": [
          [
            {
              "node": "Retrieve active workflows",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check if file exists": {
        "main": [
          [
            {
              "node": "Get current file",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Upload file",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get current file": {
        "main": [
          [
            {
              "node": "Retrieve VersionIds",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Has changed?": {
        "main": [
          [
            {
              "node": "Update file",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "List files from repo",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Commit info": {
        "main": [
          [
            {
              "node": "Check if file exists",
              "type": "main",
              "index": 0
            },
            {
              "node": "Retrieve all workflows",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Retrieve all workflows": {
        "main": [
          [
            {
              "node": "Find deleted workflows",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Retrieve VersionIds": {
        "main": [
          [
            {
              "node": "Has changed?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Find deleted workflows": {
        "main": [
          [
            {
              "node": "Delete file from repo",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Retrieve active workflows": {
        "main": [
          [
            {
              "node": "Convert to base64",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Oswaldo Rodriguez",
    "name": "Version 4fbd9b0e",
    "description": "",
    "autosaved": true
  },
  "tags": []
}