n8n-backup-trigger-node.json
{
  "updatedAt": "2026-05-01T13:56:06.004Z",
  "createdAt": "2026-04-30T22:37:05.294Z",
  "id": "riyJ7tz257HtEbmi",
  "name": "N8N Backup Trigger Node",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fe4a36ef-9f04-40e3-99bd-cc517a49b440",
              "name": "commitDate",
              "type": "string",
              "value": "={{ $now.toFormat('dd-MM-yyyy_HH-mm') }}"
            },
            {
              "id": "b0fe1bcc-e79c-4a6b-b8b4-44222c8bf4e8",
              "name": "fileName",
              "type": "string",
              "value": "={{ $('Retrieve workflow').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}.json"
            }
          ]
        },
        "options": {}
      },
      "id": "906f4145-b18b-462d-88cb-e8305fbdc490",
      "name": "Commit date & file name",
      "type": "n8n-nodes-base.set",
      "position": [
        1232,
        96
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "jsCode": "const workflow = $input.item.json;\nconst jsonString = JSON.stringify(workflow, null, 2);\nconst base64 = Buffer.from(jsonString).toString('base64');\n\nreturn {\n  json: {\n    ...workflow,\n    data: base64\n  }\n};"
      },
      "id": "3b122de1-549b-4c20-b030-03f650852ab4",
      "name": "Convert to base64",
      "type": "n8n-nodes-base.code",
      "position": [
        1008,
        96
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "workflow"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        112,
        96
      ],
      "id": "1d6fcb2b-28f5-4ec7-834b-427ae08893e5",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "operation": "get",
        "workflowId": {
          "__rl": true,
          "value": "={{ $('When Executed by Another Workflow').item.json.workflow }}",
          "mode": "id"
        },
        "requestOptions": {}
      },
      "id": "a2612c7c-f8a0-4103-bbd1-e2773025d7be",
      "name": "Retrieve workflow",
      "type": "n8n-nodes-base.n8n",
      "position": [
        784,
        96
      ],
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "aC9X6ZkK0JdCzFeK",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "oswaldorodriguez123",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-workflows-backup",
          "mode": "list",
          "cachedResultName": "n8n-workflows-backup",
          "cachedResultUrl": "https://github.com/OswaldoRodriguez123/n8n-workflows-backup"
        },
        "filePath": "={{ $node['Commit date & file name'].json.fileName }}",
        "fileContent": "={{ $('Convert to base64').item.json.data }}",
        "commitMessage": "=backup-{{ $('Commit date & file name').item.json.commitDate }}"
      },
      "id": "680d3048-80dc-4c58-815e-3e658f8d25d1",
      "name": "Update file",
      "type": "n8n-nodes-base.github",
      "position": [
        1680,
        0
      ],
      "webhookId": "27218087-8df7-474d-a39f-70cfa9c34ec8",
      "typeVersion": 1,
      "credentials": {
        "githubApi": {
          "id": "XROMFPzqFUz4J0e9",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('Aggregate').item.json.name }}",
              "operation": "contains",
              "value2": "={{ $node['Commit date & file name'].json.fileName }}"
            }
          ]
        }
      },
      "id": "cc7879da-9d0f-490c-bb62-18a144394bd4",
      "name": "Check if file exists",
      "type": "n8n-nodes-base.if",
      "position": [
        1456,
        96
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "oswaldorodriguez123",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-workflows-backup",
          "mode": "list",
          "cachedResultName": "n8n-workflows-backup",
          "cachedResultUrl": "https://github.com/OswaldoRodriguez123/n8n-workflows-backup"
        },
        "filePath": "={{ $node['Commit date & file name'].json.fileName }}",
        "fileContent": "={{ $('Convert to base64').item.json.data }}",
        "commitMessage": "=backup-{{ $node['Commit date & file name'].json.commitDate }}"
      },
      "id": "71951cb3-6a82-490d-ba42-d609a1c7d634",
      "name": "Upload file",
      "type": "n8n-nodes-base.github",
      "position": [
        1680,
        192
      ],
      "webhookId": "ce4b561b-acb9-4cd8-b76f-4928dada9674",
      "typeVersion": 1,
      "credentials": {
        "githubApi": {
          "id": "XROMFPzqFUz4J0e9",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "name"
            }
          ]
        },
        "options": {}
      },
      "id": "3356a7f4-4a45-4180-a6c0-cc80ec794b9b",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        560,
        96
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "list",
        "owner": {
          "__rl": true,
          "value": "oswaldorodriguez123",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-workflows-backup",
          "mode": "list",
          "cachedResultName": "n8n-workflows-backup",
          "cachedResultUrl": "https://github.com/OswaldoRodriguez123/n8n-workflows-backup"
        },
        "filePath": "="
      },
      "id": "6d0e43d9-144b-4906-8432-9fd360347052",
      "name": "List files from repo",
      "type": "n8n-nodes-base.github",
      "position": [
        336,
        96
      ],
      "webhookId": "354d699e-44b0-4444-9d31-af7fd4ff5561",
      "typeVersion": 1,
      "alwaysOutputData": true,
      "credentials": {
        "githubApi": {
          "id": "XROMFPzqFUz4J0e9",
          "name": "GitHub account"
        }
      }
    }
  ],
  "connections": {
    "Commit date & file name": {
      "main": [
        [
          {
            "node": "Check if file exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to base64": {
      "main": [
        [
          {
            "node": "Commit date & file name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "List files from repo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve workflow": {
      "main": [
        [
          {
            "node": "Convert to base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if file exists": {
      "main": [
        [
          {
            "node": "Update file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List files from repo": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Retrieve workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "0be6b226-76a5-49c6-bd0e-16abd4939f35",
  "activeVersionId": "0be6b226-76a5-49c6-bd0e-16abd4939f35",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-04-30T22:37:05.299Z",
      "createdAt": "2026-04-30T22:37:05.299Z",
      "role": "workflow:owner",
      "workflowId": "riyJ7tz257HtEbmi",
      "projectId": "OIndEVhNfITieKkR"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-04-30T22:58:07.000Z",
    "createdAt": "2026-04-30T22:58:02.756Z",
    "versionId": "0be6b226-76a5-49c6-bd0e-16abd4939f35",
    "workflowId": "riyJ7tz257HtEbmi",
    "nodes": [
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "fe4a36ef-9f04-40e3-99bd-cc517a49b440",
                "name": "commitDate",
                "type": "string",
                "value": "={{ $now.toFormat('dd-MM-yyyy_HH-mm') }}"
              },
              {
                "id": "b0fe1bcc-e79c-4a6b-b8b4-44222c8bf4e8",
                "name": "fileName",
                "type": "string",
                "value": "={{ $('Retrieve workflow').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}.json"
              }
            ]
          },
          "options": {}
        },
        "id": "906f4145-b18b-462d-88cb-e8305fbdc490",
        "name": "Commit date & file name",
        "type": "n8n-nodes-base.set",
        "position": [
          1232,
          96
        ],
        "typeVersion": 3.4
      },
      {
        "parameters": {
          "jsCode": "const workflow = $input.item.json;\nconst jsonString = JSON.stringify(workflow, null, 2);\nconst base64 = Buffer.from(jsonString).toString('base64');\n\nreturn {\n  json: {\n    ...workflow,\n    data: base64\n  }\n};"
        },
        "id": "3b122de1-549b-4c20-b030-03f650852ab4",
        "name": "Convert to base64",
        "type": "n8n-nodes-base.code",
        "position": [
          1008,
          96
        ],
        "typeVersion": 2
      },
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "workflow"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          112,
          96
        ],
        "id": "1d6fcb2b-28f5-4ec7-834b-427ae08893e5",
        "name": "When Executed by Another Workflow"
      },
      {
        "parameters": {
          "operation": "get",
          "workflowId": {
            "__rl": true,
            "value": "={{ $('When Executed by Another Workflow').item.json.workflow }}",
            "mode": "id"
          },
          "requestOptions": {}
        },
        "id": "a2612c7c-f8a0-4103-bbd1-e2773025d7be",
        "name": "Retrieve workflow",
        "type": "n8n-nodes-base.n8n",
        "position": [
          784,
          96
        ],
        "typeVersion": 1,
        "credentials": {
          "n8nApi": {
            "id": "aC9X6ZkK0JdCzFeK",
            "name": "n8n account"
          }
        }
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "edit",
          "owner": {
            "__rl": true,
            "value": "oswaldorodriguez123",
            "mode": "name"
          },
          "repository": {
            "__rl": true,
            "value": "n8n-workflows-backup",
            "mode": "list",
            "cachedResultName": "n8n-workflows-backup",
            "cachedResultUrl": "https://github.com/OswaldoRodriguez123/n8n-workflows-backup"
          },
          "filePath": "={{ $node['Commit date & file name'].json.fileName }}",
          "fileContent": "={{ $('Convert to base64').item.json.data }}",
          "commitMessage": "=backup-{{ $('Commit date & file name').item.json.commitDate }}"
        },
        "id": "680d3048-80dc-4c58-815e-3e658f8d25d1",
        "name": "Update file",
        "type": "n8n-nodes-base.github",
        "position": [
          1680,
          0
        ],
        "webhookId": "27218087-8df7-474d-a39f-70cfa9c34ec8",
        "typeVersion": 1,
        "credentials": {
          "githubApi": {
            "id": "XROMFPzqFUz4J0e9",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "string": [
              {
                "value1": "={{ $('Aggregate').item.json.name }}",
                "operation": "contains",
                "value2": "={{ $node['Commit date & file name'].json.fileName }}"
              }
            ]
          }
        },
        "id": "cc7879da-9d0f-490c-bb62-18a144394bd4",
        "name": "Check if file exists",
        "type": "n8n-nodes-base.if",
        "position": [
          1456,
          96
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "resource": "file",
          "owner": {
            "__rl": true,
            "value": "oswaldorodriguez123",
            "mode": "name"
          },
          "repository": {
            "__rl": true,
            "value": "n8n-workflows-backup",
            "mode": "list",
            "cachedResultName": "n8n-workflows-backup",
            "cachedResultUrl": "https://github.com/OswaldoRodriguez123/n8n-workflows-backup"
          },
          "filePath": "={{ $node['Commit date & file name'].json.fileName }}",
          "fileContent": "={{ $('Convert to base64').item.json.data }}",
          "commitMessage": "=backup-{{ $node['Commit date & file name'].json.commitDate }}"
        },
        "id": "71951cb3-6a82-490d-ba42-d609a1c7d634",
        "name": "Upload file",
        "type": "n8n-nodes-base.github",
        "position": [
          1680,
          192
        ],
        "webhookId": "ce4b561b-acb9-4cd8-b76f-4928dada9674",
        "typeVersion": 1,
        "credentials": {
          "githubApi": {
            "id": "XROMFPzqFUz4J0e9",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "fieldsToAggregate": {
            "fieldToAggregate": [
              {
                "fieldToAggregate": "name"
              }
            ]
          },
          "options": {}
        },
        "id": "3356a7f4-4a45-4180-a6c0-cc80ec794b9b",
        "name": "Aggregate",
        "type": "n8n-nodes-base.aggregate",
        "position": [
          560,
          96
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "list",
          "owner": {
            "__rl": true,
            "value": "oswaldorodriguez123",
            "mode": "name"
          },
          "repository": {
            "__rl": true,
            "value": "n8n-workflows-backup",
            "mode": "list",
            "cachedResultName": "n8n-workflows-backup",
            "cachedResultUrl": "https://github.com/OswaldoRodriguez123/n8n-workflows-backup"
          },
          "filePath": "="
        },
        "id": "6d0e43d9-144b-4906-8432-9fd360347052",
        "name": "List files from repo",
        "type": "n8n-nodes-base.github",
        "position": [
          336,
          96
        ],
        "webhookId": "354d699e-44b0-4444-9d31-af7fd4ff5561",
        "typeVersion": 1,
        "alwaysOutputData": true,
        "credentials": {
          "githubApi": {
            "id": "XROMFPzqFUz4J0e9",
            "name": "GitHub account"
          }
        }
      }
    ],
    "connections": {
      "Commit date & file name": {
        "main": [
          [
            {
              "node": "Check if file exists",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Convert to base64": {
        "main": [
          [
            {
              "node": "Commit date & file name",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "List files from repo",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Retrieve workflow": {
        "main": [
          [
            {
              "node": "Convert to base64",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check if file exists": {
        "main": [
          [
            {
              "node": "Update file",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Upload file",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "List files from repo": {
        "main": [
          [
            {
              "node": "Aggregate",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Aggregate": {
        "main": [
          [
            {
              "node": "Retrieve workflow",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Oswaldo Rodriguez",
    "name": "Version 0be6b226",
    "description": "",
    "autosaved": true
  },
  "tags": []
}